In [1]:
from bs4 import BeautifulSoup
import re

In [2]:
import pandas as pd
import numpy as np

In [3]:
HospAdmissionsFollowedByHospReadmission = pd.read_csv("../data/MIMICIV_3_1_HospAdmissions_FollowedBy_HospReadmission_fromDischargeNotes.csv")

In [4]:
HospDischargeNotes = pd.read_csv("../data/discharge.csv")

In [5]:
Merged_DischargeNotes_ReadmissionEnsue = pd.merge(HospDischargeNotes, HospAdmissionsFollowedByHospReadmission, on=['subject_id', 'hadm_id'], how='left').sort_values(by=['subject_id', 'hadm_id'])
Merged_DischargeNotes_ReadmissionEnsue

,note_id,subject_id,hadm_id,note_type,note_seq,charttime,storetime,text,AdminNum,Max_AdminNum
0,10000032-DS-21,10000032,22595853,DS,21,2180-05-07 00:00:00,2180-05-09 15:26:00,\nName: ___ Unit No: _...,1.0,4.0
1,10000032-DS-22,10000032,22841357,DS,22,2180-06-27 00:00:00,2180-07-01 10:15:00,\nName: ___ Unit No: _...,2.0,4.0
3,10000032-DS-24,10000032,25742920,DS,24,2180-08-07 00:00:00,2180-08-10 05:43:00,\nName: ___ Unit No: _...,3.0,4.0
2,10000032-DS-23,10000032,29079034,DS,23,2180-07-25 00:00:00,2180-07-25 21:42:00,\nName: ___ Unit No: _...,NaN,NaN
4,10000084-DS-17,10000084,23052089,DS,17,2160-11-25 00:00:00,2160-11-25 15:09:00,\nName: ___ Unit No: __...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
331789,19999828-DS-7,19999828,25744818,DS,7,2149-01-18 00:00:00,2149-01-19 07:03:00,\nName: ___ Unit No: ___...,1.0,2.0
331788,19999828-DS-6,19999828,29734428,DS,6,2147-08-04 00:00:00,2147-08-12 15:36:00,\nName: ___ Unit No: ___...,NaN,NaN
331791,19999840-DS-21,19999840,21033226,DS,21,2164-09-17 00:00:00,2164-09-18 01:36:00,\nName: ___ Unit No: ___\...,1.0,2.0
331790,19999840-DS-20,19999840,26071774,DS,20,2164-07-28 00:00:00,2164-07-29 14:52:00,\nName: ___ Unit No: ___\...,NaN,NaN
331792,19999987-DS-2,19999987,23865745,DS,2,2145-11-11 00:00:00,2145-11-11 13:13:00,\nName: ___ Unit No: __...,NaN,NaN

In [6]:
Merged_DischargeNotes_ReadmissionEnsue['ReadmissionEnsue'] = np.where(Merged_DischargeNotes_ReadmissionEnsue['AdminNum'].isna(), 0, 1)
Merged_DischargeNotes_ReadmissionEnsue

,note_id,subject_id,hadm_id,note_type,note_seq,charttime,storetime,text,AdminNum,Max_AdminNum,ReadmissionEnsue
0,10000032-DS-21,10000032,22595853,DS,21,2180-05-07 00:00:00,2180-05-09 15:26:00,\nName: ___ Unit No: _...,1.0,4.0,1
1,10000032-DS-22,10000032,22841357,DS,22,2180-06-27 00:00:00,2180-07-01 10:15:00,\nName: ___ Unit No: _...,2.0,4.0,1
3,10000032-DS-24,10000032,25742920,DS,24,2180-08-07 00:00:00,2180-08-10 05:43:00,\nName: ___ Unit No: _...,3.0,4.0,1
2,10000032-DS-23,10000032,29079034,DS,23,2180-07-25 00:00:00,2180-07-25 21:42:00,\nName: ___ Unit No: _...,NaN,NaN,0
4,10000084-DS-17,10000084,23052089,DS,17,2160-11-25 00:00:00,2160-11-25 15:09:00,\nName: ___ Unit No: __...,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
331789,19999828-DS-7,19999828,25744818,DS,7,2149-01-18 00:00:00,2149-01-19 07:03:00,\nName: ___ Unit No: ___...,1.0,2.0,1
331788,19999828-DS-6,19999828,29734428,DS,6,2147-08-04 00:00:00,2147-08-12 15:36:00,\nName: ___ Unit No: ___...,NaN,NaN,0
331791,19999840-DS-21,19999840,21033226,DS,21,2164-09-17 00:00:00,2164-09-18 01:36:00,\nName: ___ Unit No: ___\...,1.0,2.0,1
331790,19999840-DS-20,19999840,26071774,DS,20,2164-07-28 00:00:00,2164-07-29 14:52:00,\nName: ___ Unit No: ___\...,NaN,NaN,0
331792,19999987-DS-2,19999987,23865745,DS,2,2145-11-11 00:00:00,2145-11-11 13:13:00,\nName: ___ Unit No: __...,NaN,NaN,0

In [7]:
Merged_DischargeNotes_ReadmissionEnsue_sparse = Merged_DischargeNotes_ReadmissionEnsue[['text', 'ReadmissionEnsue']]
Merged_DischargeNotes_ReadmissionEnsue_sparse

                                                     text  ReadmissionEnsue
0        \nName:  ___                     Unit No:   _...                 1
1        \nName:  ___                     Unit No:   _...                 1
3        \nName:  ___                     Unit No:   _...                 1
2        \nName:  ___                     Unit No:   _...                 0
4        \nName:  ___                    Unit No:   __...                 0
...                                                   ...               ...
331789   \nName:  ___                   Unit No:   ___...                 1
331788   \nName:  ___                   Unit No:   ___...                 0
331791   \nName:  ___                  Unit No:   ___\...                 1
331790   \nName:  ___                  Unit No:   ___\...                 0
331792   \nName:  ___                    Unit No:   __...                 0

[331793 rows x 2 columns]

In [8]:
Merged_DischargeNotes_ReadmissionEnsue_sparse['text'] = Merged_DischargeNotes_ReadmissionEnsue_sparse['text'].str.replace(r'\s*_{1,}\s*Unit\s*No:\s*{1,}\s*\n\n\s*Admission\s*Date:\s*_{1,}\s*Discharge\s*Date:\s*_{1,}\s*\n\n\s*Date\s*of\s*\Birth:\s*_{1,}\s*', '', regex=True)
Merged_DischargeNotes_ReadmissionEnsue_sparse

PatternError: multiple repeat at position 24

In [ ]:
# Merged_DischargeNotes_ReadmissionEnsue_sparse.to_csv("../data/Merged_DischargeNotes_ReadmissionEnsue_sparse.csv", index=False)